

.filterProducts {
    display: flex;
}

.filter {
    width: 20vw;
    padding: 10px;
}

.filterCollapse {
    display: none;
}

@media (max-width: 768px) {
    .filter {
        display: none;
    }
}